@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header ul li a {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  transition: all 0.5s;
}

header .callnumbers {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .callnumbers span {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

header ul li a:hover {
  color: #8B9D83;
}

@media (max-width: 1100px) {
  header {
    padding: 40px 0;
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
}
@media (max-width: 550px) {
  header ul {
    display: none;
  }
  header .callnumbers img {
    width: 20px;
  }
  header .callnumbers span {
    font-size: 12px;
  }
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .left h1 {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.hero .left h1 span {
  color: #8b9d83;
}
.hero .left p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  line-height: 100%;
  width: 60%;
  letter-spacing: 0%;
  color: #424242;
}
.hero .left .alink {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #8b9d83;
  padding: 31px 39px;
  border-radius: 78px;
  display: inline-block;
  transition: all 0.7s;
}
.hero .left .imglink {
  background-color: #8b9d83;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 78px;
  transition: all 0.7s;
}

.hero .left .link {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero .alink:hover {
  background-color: #424242;
  scale: 1.07;
}
.hero .imglink:hover {
  background-color: #424242;
  scale: 1.1;
}

@media (max-width: 1200px) {
  .hero {
    gap: 50px;
    flex-direction: column-reverse;
  }
  .hero .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .right img {
    width: 90%;
    margin: auto;
  }
  .hero .left h1 {
    font-size: clamp(24px, 5vw, 48px);
    text-align: center;
  }
  .hero .left p {
    font-size: clamp(16px, 3vw, 28px);
    width: 100%;
    text-align: center;
  }
  .hero .left .alink {
    font-size: clamp(12px, 3vw, 28px);
    padding: 20px 20px;
  }
  .hero .left .imglink {
    padding: 10px;
  }
  .hero .link {
    margin: auto;
  }
}
.transparent {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.transparent .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transparent .top h2 {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  width: 50%;
}
.transparent .top .topP {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 60%;
  color: #424242;
}
.transparent .bottom .wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.transparent .bottom {
  display: flex;
  flex-wrap: wrap;
}
.transparent .bottom .box {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.transparent .box span {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8b9d83;
}
.transparent .box h3 {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.transparent .box p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.transparent .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1200px) {
  .transparent .top h2 {
    font-size: clamp(14px, 3vw, 48px);
    width: auto;
  }
  .transparent .top .topP {
    font-size: clamp(14px, 3vw, 32px);
    width: auto;
  }
  .transparent .bottom span {
    font-size: clamp(24px, 4vw, 40px);
  }
  .transparent .bottom h3 {
    font-size: clamp(24px, 4vw, 40px);
  }
  .transparent .bottom p {
    font-size: clamp(14px, 3vw, 18px);
  }
}
@media (max-width: 700px) {
  .transparent .bottom .box {
    width: 100%;
  }
}
.region {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.region .top {
  display: flex;
  align-items: center;
}
.region .top h2 {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  width: 60%;
}
.region .top h2 span {
  color: #8b9d83;
}
.region .top p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  width: 50%;
}
.region .bottom {
  display: flex;
}
.region .bottom .box {
  width: 40%;
  margin: auto;
  border: 4px solid #8b9d83;
  border-top-left-radius: 15.69px;
  border-top-right-radius: 15.69px;
  border-bottom-right-radius: 47.06px;
  border-bottom-left-radius: 47.06px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.region .bottom .box img {
  width: 100%;
}
.region .bottom .texts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.region .bottom .texts span {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.region .bottom .texts a {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  padding: 27px 34px;
  border-radius: 67px;
  letter-spacing: 0%;
  color: #ffffff;
  box-shadow: -3.46px -3.46px 17.28px 0px #ffffff;
  box-shadow: 2.59px 2.59px 17.28px 0px rgba(85, 93, 36, 0.3019607843);
  background-color: #8b9d83;
}
.region .bottom .texts a:hover {
  background-color: rgba(139, 157, 131, 0.737254902);
}

@media (max-width: 900px) {
  .region .top {
    flex-direction: column;
    gap: 25px;
  }
  .region .top h2 {
    width: 100%;
    font-size: clamp(24px, 3vw, 48px);
    text-align: center;
  }
  .region .top p {
    width: 100%;
    font-size: clamp(16px, 2.5vw, 28px);
    text-align: center;
  }
  .region .bottom {
    flex-direction: column;
    gap: 40px;
  }
  .region .bottom .box {
    width: 100%;
  }
  .region .bottom .box span {
    font-size: clamp(12px, 2.5vw, 16px);
  }
  .region .bottom .box a {
    font-size: clamp(12px, 2.5vw, 16px);
    padding: clamp(15px, 3vw, 27px) clamp(20px, 4vw, 34px);
  }
}
.uslugi {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 0;
}
.uslugi .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.uslugi .top h2 {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  width: 50%;
}
.uslugi .top span {
  color: #8b9d83;
}
.uslugi .top p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  width: 40%;
}
.uslugi .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.uslugi .bottom .box {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 4px solid #8b9d83;
  border-top-left-radius: 15.69px;
  border-top-right-radius: 15.69px;
  border-bottom-right-radius: 47.06px;
  border-bottom-left-radius: 47.06px;
  padding-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.uslugi .bottom .box h4 {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.uslugi .bottom .box p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  text-align: center;
  width: 80%;
}
.uslugi .bottom .box a {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #8b9d83;
  padding: 20px 25px;
  border-radius: 67px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s;
}
.uslugi .bottom .box a:hover {
  background-color: rgba(139, 157, 131, 0.7450980392);
}
.uslugi .bottom img {
  width: 100%;
}

@media (max-width: 1000px) {
  .uslugi .top {
    flex-direction: column;
    gap: 30px;
  }
  .uslugi .top h2 {
    font-size: clamp(24px, 4vw, 48px);
    width: 100%;
    text-align: center;
  }
  .uslugi .top p {
    font-size: clamp(16px, 3vw, 28px);
    width: 100%;
    text-align: center;
  }
  .uslugi .bottom {
    flex-direction: column;
    gap: 40px;
  }
  .uslugi .bottom .box {
    width: 80%;
  }
  .uslugi .bottom .box h4 {
    font-size: clamp(12px, 3vw, 20px);
  }
  .uslugi .bottom .box p {
    font-size: clamp(8px, 2.5vw, 16px);
  }
  .uslugi .bottom .box a {
    font-size: clamp(10px, 2.5vw, 16px);
  }
}
.object {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.object h2 {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  width: 60%;
}
.object h2 span {
  color: #8b9d83;
}
.object .box {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.object .box .left {
  width: 50%;
}
.object .box .left h3 {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.object .box .top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.object .box .top img {
  border-radius: 50%;
}
.object .box .top h4 {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.object .box .top p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.object .box .right {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 20px;
}
.object .box .right p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  width: 60%;
}
.object .box .right .vopros {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.object .box .right .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.object .box .right .item span {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}/*# sourceMappingURL=style.css.map */