@use "./scss/global";
@use "./scss/mixins";
@use "./scss/variables";
@use "./scss/header";
@use "./scss/hero";
@use "./scss/transparent";
@use "./scss/region";
@use "./scss/uslugi";
@use "./scss/object";
@use "./scss/footer";