@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header ul li a {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  transition: all 0.5s;
}

header .callnumbers {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .callnumbers span {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

header ul li a:hover {
  color: #8B9D83;
}

@media (max-width: 1100px) {
  header {
    padding: 40px 0;
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
}
@media (max-width: 550px) {
  header ul {
    display: none;
  }
  header .callnumbers img {
    width: 20px;
  }
  header .callnumbers span {
    font-size: 12px;
  }
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .left h1 {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}
.hero .left h1 span {
  color: #8b9d83;
}
.hero .left p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  line-height: 100%;
  width: 60%;
  letter-spacing: 0%;
  color: #424242;
}
.hero .left .alink {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #8b9d83;
  padding: 31px 39px;
  border-radius: 78px;
  display: inline-block;
  transition: all 0.7s;
}
.hero .left .imglink {
  background-color: #8b9d83;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 78px;
  transition: all 0.7s;
}

.hero .left .link {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero .alink:hover {
  background-color: #424242;
  scale: 1.07;
}
.hero .imglink:hover {
  background-color: #424242;
  scale: 1.1;
}

@media (max-width: 1200px) {
  .hero {
    gap: 50px;
    flex-direction: column-reverse;
  }
  .hero .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .right img {
    width: 90%;
    margin: auto;
  }
  .hero .left h1 {
    font-size: clamp(24px, 5vw, 48px);
    text-align: center;
  }
  .hero .left p {
    font-size: clamp(16px, 3vw, 28px);
    width: 100%;
    text-align: center;
  }
  .hero .left .alink {
    font-size: clamp(12px, 3vw, 28px);
    padding: 20px 20px;
  }
  .hero .left .imglink {
    padding: 10px;
  }
  .hero .link {
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */