@use "global" as *;
@use "variables" as *;
@use "mixins" as *;
header {
  @include flex-center;
  justify-content: space-between;
  height: 150px;
  ul {
    @include flex-center;
    gap: 20px;
    li a {
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #424242;
      transition: all 0.5s;
    }
  }
}
header {
  .callnumbers {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}
header {
  ul {
    li a:hover {
      color: $hover-color;
    }
  }
}

@media (max-width: 1100px) {
  header {
    padding: 40px 0;
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
}
@media (max-width: 550px) {
  header {
    ul {
      display: none;
    }
  }
  header {
    .callnumbers {
        img{
            width: 20px;
        }
      span {
        font-size: 12px;
      }
    }
  }
}
