@use "variables" as *;
@use "mixins" as *;

.hero {
  @include flex-center;
  .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-family: Roboto;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #424242;
    }
    h1 span {
      color: #8b9d83;
    }
    p {
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 28px;
      line-height: 100%;
      width: 60%;
      letter-spacing: 0%;
      color: #424242;
    }
    .alink {
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #ffffff;
      background-color: #8b9d83;
      padding: 31px 39px;
      border-radius: 78px;
      display: inline-block;
      transition: all 0.7s;
    }
    .imglink {
      background-color: #8b9d83;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border-radius: 78px;
      transition: all 0.7s;
    }
  }
}
.hero {
  .left {
    .link {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
}
.hero {
  .alink:hover {
    background-color: #424242;
    scale: 1.07;
  }
  .imglink:hover {
    background-color: #424242;
    scale: 1.1;
  }
}

@media (max-width: 1200px) {
  .hero {
    gap: 50px;
    flex-direction: column-reverse;
    .right {
      @include flex-center;
      img {
        width: 90%;
        margin: auto;
      }
    }
  }
  .hero {
    .left {
      h1 {
        font-size: clamp(24px, 5vw, 48px);
        text-align: center;
      }
      p {
        font-size: clamp(16px, 3vw, 28px);
        width: 100%;
        text-align: center;
      }
      .alink {
        font-size: clamp(12px, 3vw, 28px);
        padding: 20px 20px;
      }
      .imglink {
        padding: 10px;
      }
    }
    .link {
      margin: auto;
    }
  }
}
