@use "variables";
@use "mixins";
.object {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  h2 {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #424242;
    width: 60%;
    span {
      color: #8b9d83;
    }
  }
  .box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    .left {
      width: 50%;
      h3 {
        font-family: Roboto;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #424242;
      }
    }
    .top {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        border-radius: 50%;
      }
      h4 {
        font-family: Roboto;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #424242;
      }
      p {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #424242;
      }
    }
    .right {
      display: flex;
      width: 50%;
      flex-direction: column;
      gap: 20px;
      p {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #424242;
        width: 60%;
      }
      .vopros {
        font-family: Roboto;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #424242;
      }
      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          font-family: Roboto;
          font-weight: 400;
          font-style: Regular;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #424242;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .object {
    h2 {
      width: 100%;
      font-size: clamp(20px, 4vw, 48px);
      text-align: center;
    }
    .box {
      flex-direction: column-reverse;
      gap: 50px;
      .left {
        width: 100%;
        align-items: center;
        text-align: center;
        h3 {
          font-size: clamp(27px,4vw, 48px);
        }
        img{
          width: 70%;
        }
      }
      .top {
        img {
          width: 20%;
        }
        h4 {
          font-size: clamp(16px, 4vw, 28px);
        }
        p {
          font-size: clamp(12px, 4vw, 26px);
          width: 100%;
        }
      }
      .right {
        width: 100%;
        align-items: center;
        text-align: center;
        p {
          width: 100%;
          margin: auto;
          font-size: clamp(12px, 4vw, 24px);
        }
        .vopros {
          font-size: clamp(16px, 4vw, 32px);
        }
        .item {
          span {
            font-size: clamp(12px, 4vw, 24px);
          }
          img {
            width: 5%;
          }
        }
      }
    }
  }
}
