@use "variables";
@use "mixins";

.region {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  .top {
    display: flex;
    align-items: center;
    h2 {
      font-family: Roboto;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #424242;
      width: 60%;
      span {
        color: #8b9d83;
      }
    }
    p {
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #424242;
      width: 50%;
    }
  }
  .bottom {
    display: flex;
    .box {
      width: 40%;
      margin: auto;
      border: 4px solid #8b9d83;
      border-top-left-radius: 15.69px;
      border-top-right-radius: 15.69px;
      border-bottom-right-radius: 47.06px;
      border-bottom-left-radius: 47.06px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      img {
        width: 100%;
      }
    }
    .texts {
      display: flex;
      align-items: center;
      justify-content: space-around;
      span {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #424242;
      }
      a {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        padding: 27px 34px;
        border-radius: 67px;
        letter-spacing: 0%;
        color: #ffffff;
        box-shadow: -3.46px -3.46px 17.28px 0px #ffffff;
        box-shadow: 2.59px 2.59px 17.28px 0px #555d244d;
        background-color: #8b9d83;
      }
      a:hover {
        background-color: #8b9d83bc;
      }
    }
  }
}

@media (max-width: 900px) {
    .region{
        .top{
            flex-direction: column;
            gap: 25px;
            h2{
                width: 100%;
                font-size: clamp(24px, 3vw, 48px);
                text-align: center;
            }
            p{
                width: 100%;
                font-size: clamp(16px, 2.5vw, 28px);
                text-align: center;
            }
        }
        .bottom{
            flex-direction: column;
            gap: 40px;
            .box{
                width: 100%;
                span{
                    font-size: clamp(12px, 2.5vw, 16px);
                }
                a{
                    font-size: clamp(12px, 2.5vw, 16px);
                    padding: clamp(15px, 3vw, 27px) clamp(20px, 4vw, 34px);
                }
            }
        }
    }
    
}
