@use "./variables";
@use "./mixins";
.uslugi {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 0;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-family: Roboto;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #424242;
      width: 50%;
    }
    span {
      color: #8b9d83;
    }
    p {
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #424242;
      width: 40%;
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .box {
      width: 20%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 4px solid #8b9d83;
      border-top-left-radius: 15.69px;
      border-top-right-radius: 15.69px;
      border-bottom-right-radius: 47.06px;
      border-bottom-left-radius: 47.06px;
      padding-bottom: 20px;
      align-items: center;
      h4 {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #424242;
      }
      p {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #424242;
        text-align: center;
        width: 80%;
      }
      a {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #ffffff;
        background-color: #8b9d83;
        padding: 20px 25px;
        border-radius: 67px;
        display: inline-block;
        text-align: center;
        transition: all 0.3s;
      }
      a:hover{
        background-color: #8b9d83be;
      }
    }
    img {
      width: 100%;
    }
  }
}